body {
  background-color: #f9f7fe;
  font-family: "Gill Sans", sans-serif;
}
h1 {
  font-size: 45px;
  margin: 0;
}
p {
  padding-top: 15px;
  color: grey;
}
footer {
  border-top: 1px solid lightgray;
  padding-top: 15px;
  color: grey;
  text-align: center;
  font-weight: light;
}
.temp {
  font-size: 80px;
  font-weight: bold;
}
.outline {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
}
.search-box {
  background-color: #f9f7fe;
  color: grey;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  border-width: 0;
}
.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border-width: 0;
  padding: 20px;
  border-radius: 10px;
}
.search-button:hover {
  background-color: #f9f7fe;
  color: #885df1;
  cursor: pointer;
  transition: 2ms;
}
.main-city {
  border-top: 1px solid lightgray;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.pink-bold {
  color: #ff6ec7;
  font-weight: bold;
}

.bio {
  padding-top: 15px;
}

.degrees {
  font-size: 25px;
}
